### 라즈베리파이 사물 제어 IOT 평가

1. 키보드로 두 수를 입력받아 큰 수부터 출력하는 프로그램을 작성하시요. 단, 입력받는 두 수는 중복이 없다고 가정한다.

In [58]:
# 1번 문제 답안 작성
a = int(input('첫번째 수를 입력하세요'))
b = int(input('두번째 수를 입력하세요'))

if a > b :
    print(a)
elif b > a :
    print(b)
else :
    print('두수가 동일합니다. 다시 입력하세요.')

두수가 동일합니다. 다시 입력하세요.

2. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오.<br> 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [ ]:
# 2번 문제 답안 작성

num1 = int(input('첫번째 수를 입력하세요.'))
num2 = int(input('두번째 수를 입력하세요.'))
num3 = int(input('세번째 수를 입력하세요.'))

list1 = []

list1.append(num1)
list1.append(num2)
list1.append(num3)

max1 = max(list1)
min1 = min(list1)

print(max1 - min1)

3. 매개변수로 두 정수를 받아, 두 정수 사이의(두 정수 포함) 모든 정수를 갖는 리스트를 리턴하는 함수를 구현하시오.

In [79]:
# 3번 문제 답안 작성

num1 = int(input('첫번째 수를 입력하세요.'))
num2 = int(input('두번째 수를 입력하세요.'))

list1 = []

if num1 > num2:
    list1.extend(range(num2, num1 + 1))
else:
    list1.extend(range(num1, num2 + 1))

for num in list1:
    print(num, end=' ')

1 2 3 4 5 6 7 8 9 10

4. 아래 제시된 phone 객체에 제조사, 모델명, 가격 정보를 키보드로 입력받아,   
입력받은 내용을 추가하고 phone 정보를 출력하시오.

In [34]:
phone = {}

# 4번 문제 답안 작성
phone['brand'] = input("제조사를 입력하세요")
phone['modelName'] = input("모델명을 입력하세요")
phone['price'] = int(input("가격을 입력하세요"))

print(phone)

{'brand': '제조사', 'modelName': '모델명', 'price': 10000}

5. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [73]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 5번 문제 답안 작성
cnt = 0
for student in javaClass['studentList']:
      if student['age'] > 30 :
        cnt = cnt + student['age']
print(cnt)

103

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [4]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

6. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [35]:
# 6번 문제 답안 작성

import pandas
po = pandas.DataFrame(population)

a = po['0~4세'].sum()
b = po['5~9세'].sum()
c = po['10~14세'].sum()
d = po['15~19세'].sum()
e = po['20~24세'].sum()

population_g = {
    '0~4세': a,
    '5~9세': b,
    '10~14세': c,
    '15~19세': d,
    '20~24세': e
}

max_age = max(population_g, key=population_g.get)

# 결과 출력
print(f"가장 높은 인구수를 가진 연령대는 {max_age}입니다.")

가장 높은 인구수를 가진 연령대는 15~19세입니다.

7. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [81]:
# 7번 문제 답안 작성
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

population_g = {
    '0~4세': a,
    '5~9세': b,
    '10~14세': c,
    '15~19세': d,
    '20~24세': e
}


population['총 인구수'] = {
    a + b + c + d + e
}

population

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
 '0~4세': [214651, 68006, 53515, 69453, 29835],
 '5~9세': [210833, 68704, 58332, 68555, 29331],
 '10~14세': [269171, 94802, 91268, 86574, 29035],
 '15~19세': [335828, 124564, 101110, 106435, 49119],
 '20~24세': [343797, 125907, 96078, 102297, 43937],
 '총 인구수': {np.int64(1999932)}}