In [ ]:
# 리스트 변수 만들 때 변수명 list 금지
# 리스트 생성
list1 = []
list2 = [1, 1.5, 'python']
list3 = [1, 2, [3,4,5], [6,7]]

print(list3[0])

In [ ]:
list3 = [1, 2, [3,4,5], [6,7]]

# 위의 리스트에서 5만 출력

print(list3[2][2])

In [108]:
# 리스트에 데이터 추가

# 빈 리스트 추가
list1 = []

# 데이터 추가
list1.append(1)
list1.append(2)
list1.append('홍길동')
list1.append([1, 2, 3])

print(list1)

[1, 2, '홍길동', [1, 2, 3]]

In [139]:
# 데이터 추가 두번째
# .insert ( 추가할 위치, 추가할 데이터 )

list1.insert(1, 2)

print(list1)

[1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 11, 11, 5, 5, 3, '홍길동', [1, 2, 3]]

In [ ]:
# 데이터 삭제
print('삭제 전 데이터')
print(list1)


list1.remove(5)

print('삭제 후 데이터')
print(list1)

In [170]:
# 데이터 삭제2 (추천)
# 삭제 시에는 삭제할 요소 정확히 해줄 것

list4 = [1, 2, 'python', [1, 2, 3]]

del list4[0]

print(list4)

[2, 'python', [1, 2, 3]]

In [ ]:
# 삭제 시 주의
# 아래 코드는 list4라는 리스트 자체를 삭제
del list4

print(list4)

In [178]:
# 데이터 수정
list5 = [1, 2, 3]
list5[1] = 5
print(list5)

[1, 5, 3]

In [180]:
# 리스트 합치기
list6 = [1, 2, 3] + [4, 5]
print(list6)

list7 = [1, 2, 3] * 2
print(list7)

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3]

In [203]:
# 리스트의 슬라이싱 : 리스트 데이터의 일부 추출
list1 = [1, 2, 3, 4, 5]

print(list1[1:4])
print(list1[1:])
print(list1[:3])

[2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3]

In [205]:
# 슬라이싱을 이용한 데이터 삭제
list1 = [1, 2, 3, 4, 5]
del list1[1:4]
print(list1)

[1, 5]

In [208]:
# 슬라이싱을 이용한 데이터 수정
list1 = [1, 2, 3, 4, 5]
list1[1:3] = 7, 8
print(list1)

[1, 7, 8, 4, 5]

In [213]:
# 리스트의 마지막 데이터를 알고 싶을때 [-1] 사용
list1 = [1,2,3,4,5]
print(list1[-1])
print(list1[1:-1])

5
[2, 3, 4]

In [ ]:
# 문자열도 리스트
# 자바스크립트 - substring
# mysql - substring

name = 'python'
print(name[0])

In [221]:
# 아래 리스트에 저장된 문자열에서 'r'이라는 알파벳의 개수 출력
strList = ['father', 'mother', 'brother']
cnt = 0
for word in strList :
  for alphabet in word :
    if alphabet == 'r' :
      cnt = cnt + 1
    
print(cnt)

4